{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
Change Password | Vijay Thapa
{% endblock title %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            {% include 'partials/_messages.html' %}
            
            <h1>Change Password</h1>
            <hr>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
            </form>


        </div>
    </div>

{% endblock %}
