{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
User Profile | Vijay Thapa
{% endblock title %}

{% load static %}

{% block content %}
    <div class="album py-5 bg-light">
        {% include 'partials/_messages.html' %}
        <div class="container">

            <div class="profile">

                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="text-center">
                        {% if user.profile.profile_picture %}
                            <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.get_full_name }}" width="200px" height="200px" class="img-rounded" />
                        {% else %}
                            <img src="{% static 'images/profile.png' %}" alt="{{ user.get_full_name }}" class="" />
                        {% endif %}
                        
                        
                        <h3 class="text-center">{{ user.get_full_name }}</h3>

                        <table class="table table-borderless mt-5">
                            <tr>
                                <td>Date of Birth: </td>
                                <td>{{ user.profile.date_of_birth }}</td>
                            </tr>
                            <tr>
                                <td>Short Bio: </td>
                                <td>{{ user.profile.bio }}</td>
                            </tr>
                            <tr>
                                <td>Address: </td>
                                <td>{{  user.profile.address }}</td>
                            </tr>
                        </table>
                        
                        <a href="{% url 'update-profile' %}" class="btn btn-secondary btn-sm">Update Profile</a>

                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}
