{% extends 'base_lecture.html' %}


{% block title %}
{{ course.course_title }} | Vijay Thapa
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ course.seo_course_description }}">
    <meta name="keywords" content="{{ course.seo_course_keywords }}">
{% endblock meta %}

{% block content %}
    <div class="row">


    {% comment %} Lecture Sidebar Goes Here {% endcomment %}
    {% include 'partials/_lecture_sidebar.html' %}



    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        {% if lecture_selected %}
    
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ lecture_selected.lecture_title }}</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a href="https://www.youtube.com/vijaythapa?sub_confirmation=1" target="_blank" type="button" class="btn btn-sm btn-outline-danger">Subscribe</a>
                        <a href="https://buymeacoffee.com/vijaythapa/" target="_blank" type="button" class="btn btn-sm btn-warning ml-2">Donate</a>
                    </div>
                    

                    {% if lecture_selected.lecture_file %}
                        <a href="{{ lecture_selected.lecture_file.url }}" target="_blank" class="btn btn-sm btn-outline-primary">
                            <span data-feather="download"></span>
                            Download Notes
                        </a>
                    {% endif %}

                    </div>
                </div>

                {% comment %} <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> {% endcomment %}
                    
                {% if lecture_selected.lecture_video %}
                    <div class="video-container mb-5">
                        <iframe src="https://www.youtube.com/embed/{{ lecture_selected.lecture_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                {% endif %}


                <label class="display-4">Lecture Description</label>

                

                <p class="lead my-5">
                    {{ lecture_selected.lecture_description }}
                </p>
            
        {% endif %}


    </main>


  </div>
{% endblock content %}